*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}

.container{
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background-color: #ecf0f1;
}
.content{
    border-radius: 15px;
    background-color: #fff;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-content{
    display: flex;
}

.list-social-media{
        display: flex;
}

.form{
    display: flex;
    flex-direction: column;
}

.second-content{
    position: absolute;
    display: none;
}
